@model IEnumerable<WebApplication67.Models.Emp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDesig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDoj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Eid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EDesig)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EDoj)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </tbody>
</table>
@Html.Partial("OurPView");
